@{
    ViewBag.Title = "College";
}

<h2>College</h2>
  <ul id="menu">
                            <li>@Html.ActionLink("AddQuestions", "AddQuestions", "CTeacher")</li>
                            <li>@Html.ActionLink("MakePaper", "MakePaper", "CTeacher")</li>
                           <li>@Html.ActionLink("PaperManagement", "PaperManagement", "CTeacher")</li>
                        </ul>