@{
    ViewBag.Title = "AddQuestions";
}

<h2>AddQuestions</h2>
<form>
        Select Class
<select name="classes">
<option value="volvo">8th</option>
<option value="saab">9th</option>
<option value="fiat">10th</option>
<option value="audi">11th</option>
<option value="audi">12th</option>
</select><br />
Select Course
<select name="Course">
<option value="Cs">Computer Science</option>
<option value="saab">Biology</option>
<option value="fiat">Chemistry</option>
<option value="audi">Physics</option>
<option value="audi">English</option>
</select><br />
Select Sylabus
<select name="Sylabus">
<option value="volvo">Chapter</option>
<option value="saab">FullBook</option>
<option value="fiat">Half Book</option>
<option value="audi">Ist Half</option>
<option value="audi">Second Half</option>
</select>

<h5>Multiple Choice Questions</h5>
<table border="1">
    <th>Description</th>
    <th>A</th>
    <th>B</th>
    <th>C</th>
    <th>D</th>
    <th>Ans</th>
    <tr>
        <td><textarea rows="12" cols="75" required placeholder="Write MCQ's statement here..."></textarea></td>
        <td><textarea rows="12" cols="13" required placeholder="option A"></textarea></td>
        <td><textarea rows="12" cols="13" required placeholder="option B"></textarea></td>
        <td><textarea rows="12" cols="13" required placeholder="option C"></textarea></td>
        <td><textarea rows="12" cols="13" required placeholder="option D"></textarea></td>
        <td><select name="Sylabus" required>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
        </select></td>
    </tr> 
</table>
        <input type="submit" value="Submit" />
    </form>
  

   <h5>Short Questions</h5> 
 <form>
      Select Class
<select name="classes">
<option value="volvo">8th</option>
<option value="saab">9th</option>
<option value="fiat">10th</option>
<option value="audi">11th</option>
<option value="audi">12th</option>
</select><br />
Select Course
<select name="Course">
<option value="Cs">Computer Science</option>
<option value="saab">Biology</option>
<option value="fiat">Chemistry</option>
<option value="audi">Physics</option>
<option value="audi">English</option>
</select><br />
Select Sylabus
<select name="Sylabus">
<option value="volvo">Chapter</option>
<option value="saab">FullBook</option>
<option value="fiat">Half Book</option>
<option value="audi">Ist Half</option>
<option value="audi">Second Half</option>
</select>
<table border="1">
    <th>Description</th>
    <tr>
        <td><textarea rows="12" cols="150" placeholder="Write short question here..." required></textarea></td>
    </tr> 
</table>
      <input type="submit" value="submit" />
</form>

 <h5>Long Questions</h5> 
 <form>
      Select Class
<select name="classes">
<option value="volvo">8th</option>
<option value="saab">9th</option>
<option value="fiat">10th</option>
<option value="audi">11th</option>
<option value="audi">12th</option>
</select><br />
Select Course
<select name="Course">
<option value="Cs">Computer Science</option>
<option value="saab">Biology</option>
<option value="fiat">Chemistry</option>
<option value="audi">Physics</option>
<option value="audi">English</option>
</select><br />
Select Sylabus
<select name="Sylabus">
<option value="volvo">Chapter</option>
<option value="saab">FullBook</option>
<option value="fiat">Half Book</option>
<option value="audi">Ist Half</option>
<option value="audi">Second Half</option>
</select>
<table border="1">
    <th>Description</th>
    <tr>
        <td><textarea rows="12" cols="150" placeholder="Write Long question here..." required></textarea></td>
    </tr> 
</table>
     <input type="submit" value="submit" />
</form>

<form>
        Select Class
<select name="classes">
<option value="volvo">8th</option>
<option value="saab">9th</option>
<option value="fiat">10th</option>
<option value="audi">11th</option>
<option value="audi">12th</option>
</select><br />
Select Course
<select name="Course">
<option value="Cs">Computer Science</option>
<option value="saab">Biology</option>
<option value="fiat">Chemistry</option>
<option value="audi">Physics</option>
<option value="audi">English</option>
</select><br />
Select Sylabus
<select name="Sylabus">
<option value="volvo">Chapter</option>
<option value="saab">FullBook</option>
<option value="fiat">Half Book</option>
<option value="audi">Ist Half</option>
<option value="audi">Second Half</option>
</select>

<h5>True/False Questions</h5>
<table border="1">
    <th>Description</th>
    <th>True/False</th>
    <th>Ans</th>
    <tr>
        <td><textarea rows="12" cols="75" required placeholder="Write question statement here..."></textarea></td>
        <td><textarea rows="12" cols="13" required placeholder="option true / false here..."></textarea></td>
        <td><select name="Sylabus" required>
        <option value="A">True</option>
        <option value="B">False</option>
        </select></td>
    </tr> 
</table>
        <input type="submit" value="Submit" />
    </form>
  