@{
    ViewBag.Title = "AdminProfile";
}

<h2>AdminProfile</h2>
<label>ID:MCSF13A013</label><br />
<label>NAME:MUHAMMAD ISMAIL</label><br />
<label>STATUS:ACTIVE</label>
<img src="" width="200" height="200" />

