@{
    ViewBag.Title = "University";
}

<h2>University</h2>
  <ul id="menu">
                            <li>@Html.ActionLink("AddQuestions", "AddQuestions", "UTeacher")</li>
                            <li>@Html.ActionLink("MakePaper", "MakePaper", "UTeacher")</li>
                           <li>@Html.ActionLink("PaperManagement", "PaperManagement", "UTeacher")</li>
                        </ul>