@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">

    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>OPGS - Online Paper Generation System</title>
    </head>

    <body>
      
        
        <!-- Slider -->
        <div class="slider-container">
           
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 slider">
                        <div class="flexslider">
                            <ul class="slides">
                                 
                                <li data-thumb="~/Content/Images/img/slider/1.jpg">
                                    <img src="~/Content/Images/img/portfolio/work1.jpg" />
                                    @*<img src="~/Content/Images/img/slider/1.jpg">*@
                                    <div class="flex-caption">
                                    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. 
                                    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. 
                                    	Lorem ipsum dolor sit amet, consectetur.
                                    </div>
                                </li>
                                <li data-thumb="~/Content/Images/img/slider/2.jpg">
                                    <img src="~/Content/Images/img/slider/2.jpg">
                                    <div class="flex-caption">
                                    	Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 
                                    	lobortis nisl ut aliquip ex ea commodo consequat.
                                    </div>
                                </li>
                                <li data-thumb="~/Content/Images/img/slider/3.jpg">
                                    <img src="~/Content/Images/img/slider/3.jpg">
                                    <div class="flex-caption">
                                    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. 
                                    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. 
                                    	Lorem ipsum dolor sit amet, consectetur.
                                    </div>
                                </li>
                                <li data-thumb="~/Content/Images/img/slider/4.jpg">
                                    <img src="~/Content/Images/img/slider/4.jpg">
                                    <div class="flex-caption">
                                    	Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 
                                    	lobortis nisl ut aliquip ex ea commodo consequat.
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Presentation -->
        <div class="presentation-container">
        	<div class="container">
        		<div class="row">
	        		<div class="col-sm-12 wow fadeInLeftBig">
	            		<h1><span class="violet">OPGS</span>, a super cool Online Paper Generating Gystem.</h1>
	            		<p>We design excellent question papers, quizes and test. Your project is safe with us.</p>
	            	</div>
            	</div>
        	</div>
        </div>

        <!-- Services -->
        <div class="services-container">
	        <div class="container">
	            <div class="row">
	            	<div class="col-sm-3">
		                <div class="service wow fadeInUp">
		                    <div class="service-icon"><i class="fa fa-eye"></i></div>
		                    <h3>Question Papers</h3>
		                    <p>Make question papers automatically, manaually, within few minutes by following few easy steps...</p>
		                    <a class="big-link-1" href="services.html">Read more</a>
		                </div>
					</div>
					<div class="col-sm-3">
		                <div class="service wow fadeInDown">
		                    <div class="service-icon"><i class="fa fa-table"></i></div>
		                    <h3>Manaullay Paper</h3>
		                    <p>Make paper manaually from our databank, select course, how many question, paper pattern etc and generate paper...</p>
		                    <a class="big-link-1" href="services.html">Read more</a>
		                </div>
	                </div>
	                <div class="col-sm-3">
		                <div class="service wow fadeInUp">
		                    <div class="service-icon"><i class="fa fa-magic"></i></div>
		                    <h3>Automatically Paper</h3>
		                    <p>Make paper automatically from our databank, by just clicking on randomly generate button ...</p>
		                    <a class="big-link-1" href="services.html">Read more</a>
		                </div>
	                </div>
	                <div class="col-sm-3">
		                <div class="service wow fadeInDown">
		                    <div class="service-icon"><i class="fa fa-print"></i></div>
		                    <h3>Organization Logo</h3>
		                    <p>Print paper with your own school, academy, college, university logo...</p>
		                    <a class="big-link-1" href="services.html">Read more</a>
		                </div>
	                </div>
	            </div>
	        </div>
        </div>

        <!-- Latest work -->
        <div class="work-container">
	        <div class="container">
	        	<div class="row">
		            <div class="col-sm-12 work-title wow fadeIn">
		                <h2>Our Latest Work</h2>
		            </div>
	            </div>
	            <div class="row">
	            	<div class="col-sm-3">
		                <div class="work wow fadeInUp">
		                    <img src="~/Content/Images/img/portfolio/work1.jpg" alt="Lorem Website" data-at2x="~/Content/Images/img/portfolio/work1.jpg">
		                    <h3>Online Paper Generation</h3>
		                    <p style="font:200">Make paper online by just register your account with us and enjoy unlimited paper with various courses...</p>
		                    <div class="work-bottom">
		                        <a class="big-link-2 view-work" href="~/Content/Images/img/portfolio/work1.jpg"><i class="fa fa-search"></i></a>
		                        <a class="big-link-2" href="portfolio.html"><i class="fa fa-link"></i></a>
		                    </div>
		                </div>
	                </div>
	                <div class="col-sm-3">
		                <div class="work wow fadeInDown">
		                    <img src="~/Content/Images/img/portfolio/work2.jpg" alt="Ipsum Logo" data-at2x="~/Images/img/portfolio/work2.jpg">
		                    <h3>Awasome Design</h3>
		                    <p>Forget about word formatting, just select your design and print paper...</p>
		                    <div class="work-bottom">
		                        <a class="big-link-2 view-work" href="~/Images/img/portfolio/work2.jpg"><i class="fa fa-search"></i></a>
		                        <a class="big-link-2" href="portfolio.html"><i class="fa fa-link"></i></a>
		                    </div>
		                </div>
		            </div>
		            <div class="col-sm-3">
		                <div class="work wow fadeInUp">
		                    <img src="~/Content/Images/img/portfolio/work3.jpg" alt="Dolor Prints" data-at2x="~/Content/Images/img/portfolio/work3.jpg">
		                    <h3>Unlimited Users</h3>
		                    <p>Unlimited users support is avaliable, register free, enjoy automation, save money ...</p>
		                    <div class="work-bottom">
		                        <a class="big-link-2 view-work" href="~/Content/Images/img/portfolio/work3.jpg"><i class="fa fa-search"></i></a>
		                        <a class="big-link-2" href="portfolio.html"><i class="fa fa-link"></i></a>
		                    </div>
		                </div>
		            </div>
		            <div class="col-sm-3">
		                <div class="work wow fadeInDown">
		                    <img src="~/Content/Images/img/portfolio/work4.jpg" alt="Sit Amet Website" data-at2x="~/Content/Images/img/portfolio/work4.jpg">
		                    <h3>Online Support</h3>
		                    <p>All the data related to any course is avaliable free of cost online, 24 hours online customer support is avaliable...</p>
		                    <div class="work-bottom">
		                        <a class="big-link-2 view-work" href="~/Content/Images/img/portfolio/work4.jpg"><i class="fa fa-search"></i></a>
		                        <a class="big-link-2" href="portfolio.html"><i class="fa fa-link"></i></a>
		                    </div>
		                </div>
		            </div>
	            </div>
	        </div>
        </div>

        <!-- Testimonials -->
        <div class="testimonials-container">
	        <div class="container">
	        	<div class="row">
		            <div class="col-sm-12 testimonials-title wow fadeIn">
		                <h2>Testimonials</h2>
		            </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-10 col-sm-offset-1 testimonial-list">
	                	<div role="tabpanel">

                           @* <img src="~/Content/img/aa.png" width="33%" />*@  <!-- thanks img -->
	                		<!-- Tab panes -->
	                		<div class="tab-content">
	                			<div role="tabpanel" class="tab-pane fade in active" id="tab1">
	                				<div class="testimonial-image">
                                        
	                					<img src="~/Content/Images/img/testimonials/1.jpg" alt="" data-at2x="~/Content/Images/img/testimonials/1.jpg">
	                				</div>
	                				<div class="testimonial-text">
		                                <p>
		                                	"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. 
		                                	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. 
		                                	Lorem ipsum dolor sit amet, consectetur..."<br>
		                                	<a href="#">Lorem Ipsum, dolor.co.uk</a>
		                                </p>
	                                </div>
	                			</div>
	                			<div role="tabpanel" class="tab-pane fade" id="tab2">
	                				<div class="testimonial-image">
	                					<img src="~/Content/Images/img/testimonials/2.jpg" alt="" data-at2x="~/Content/Images/img/testimonials/2.jpg">
	                				</div>
	                				<div class="testimonial-text">
		                                <p>
		                                	"Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip 
		                                	ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 
		                                	lobortis nisl ut aliquip ex ea commodo consequat..."<br>
		                                	<a href="#">Minim Veniam, nostrud.com</a>
		                                </p>
	                                </div>
	                			</div>
	                			
	                		</div>
	                		<!-- Nav tabs -->
	                		<ul class="nav nav-tabs" role="tablist">
	                			<li role="presentation" class="active">
	                				<a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab"></a>
	                			</li>
	                			<li role="presentation">
	                				<a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab"></a>
	                			</li>
	                		</ul>
	                	</div>
	                </div>
	            </div>
	        </div>
        </div>

    </body>

</html>