@{
    ViewBag.Title = "AddQuestions";
}

<h2>AddQuestions</h2>
<form>
    Select Department
    <select name="Sylabus">
<option value="volvo">Information Technology</option>
<option value="saab">Biosciences</option>
<option value="fiat">Natural Scineces</option>
<option value="audi">Physics</option>
<option value="audi">Art and Design</option>
<option value="audi">Telecomunication</option>
</select>
      Select Degree
<select name="Sylabus">
<option value="volvo">BSCS</option>
<option value="saab">BSSE</option>
<option value="fiat">BSIT</option>
<option value="audi">Msc.CS</option>
<option value="audi">Msc.GIS</option>
</select>
     <select name="Semester">
<option value="volvo">Semester 1</option>
<option value="saab">Semester 2</option>
<option value="volvo">Semester 3</option>
<option value="saab">Semester 4</option>
<option value="volvo">Semester 5</option>
<option value="saab">Semester 6</option>
<option value="volvo">Semester 7</option>
<option value="saab">Semester 8</option>
</select>
Select Course
<select name="Course">
<option value="Cs">ITC</option>
<option value="saab">Discreate Mathematic</option>
<option value="fiat">Software Engineering</option>
<option value="audi">Software Quality Assurance</option>
<option value="audi">Digital and Logic Design</option>
</select>
Select Chapter
<select name="Sylabus">
<option value="volvo">1</option>
<option value="saab">2</option>
<option value="fiat">3</option>
<option value="audi">4</option>
<option value="audi">5</option>
</select>

<h5>Multiple Choice Questions</h5>
<table border="1">
    <th>Description</th>
    <th>A</th>
    <th>B</th>
    <th>C</th>
    <th>D</th>
    <th>Ans</th>
    <tr>
        <td><textarea rows="12" cols="75" required placeholder="Write MCQ's statement here..."></textarea></td>
        <td><textarea rows="12" cols="13" required placeholder="option A"></textarea></td>
        <td><textarea rows="12" cols="13" required placeholder="option B"></textarea></td>
        <td><textarea rows="12" cols="13" required placeholder="option C"></textarea></td>
        <td><textarea rows="12" cols="13" required placeholder="option D"></textarea></td>
        <td><select name="Sylabus" required>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
        </select></td>
    </tr> 
</table>
        <input type="submit" value="Submit" />
    </form>
  

   
 <form>
     Select Department
    <select name="Sylabus">
<option value="volvo">Information Technology</option>
<option value="saab">Biosciences</option>
<option value="fiat">Natural Scineces</option>
<option value="audi">Physics</option>
<option value="audi">Art and Design</option>
<option value="audi">Telecomunication</option>
</select>
      Select Degree
<select name="Sylabus">
<option value="volvo">BSCS</option>
<option value="saab">BSSE</option>
<option value="fiat">BSIT</option>
<option value="audi">Msc.CS</option>
<option value="audi">Msc.GIS</option>
</select>
     <select name="Semester">
<option value="volvo">Semester 1</option>
<option value="saab">Semester 2</option>
<option value="volvo">Semester 3</option>
<option value="saab">Semester 4</option>
<option value="volvo">Semester 5</option>
<option value="saab">Semester 6</option>
<option value="volvo">Semester 7</option>
<option value="saab">Semester 8</option>
</select>
Select Course
<select name="Course">
<option value="Cs">ITC</option>
<option value="saab">Discreate Mathematic</option>
<option value="fiat">Software Engineering</option>
<option value="audi">Software Quality Assurance</option>
<option value="audi">Digital and Logic Design</option>
</select>
Select Chapter
<select name="Sylabus">
<option value="volvo">1</option>
<option value="saab">2</option>
<option value="fiat">3</option>
<option value="audi">4</option>
<option value="audi">5</option>
</select>
     <h5>Short Questions</h5> 
<table border="1">
    <th>Description</th>
    <tr>
        <td><textarea rows="12" cols="150" placeholder="Write short question here..." required></textarea></td>
    </tr> 
</table>
      <input type="submit" value="submit" />
</form>

 
 <form>
        Select Department
    <select name="Sylabus">
<option value="volvo">Information Technology</option>
<option value="saab">Biosciences</option>
<option value="fiat">Natural Scineces</option>
<option value="audi">Physics</option>
<option value="audi">Art and Design</option>
<option value="audi">Telecomunication</option>
</select>
      Select Degree
<select name="Sylabus">
<option value="volvo">BSCS</option>
<option value="saab">BSSE</option>
<option value="fiat">BSIT</option>
<option value="audi">Msc.CS</option>
<option value="audi">Msc.GIS</option>
</select>
     <select name="Semester">
<option value="volvo">Semester 1</option>
<option value="saab">Semester 2</option>
<option value="volvo">Semester 3</option>
<option value="saab">Semester 4</option>
<option value="volvo">Semester 5</option>
<option value="saab">Semester 6</option>
<option value="volvo">Semester 7</option>
<option value="saab">Semester 8</option>
</select>
Select Course
<select name="Course">
<option value="Cs">ITC</option>
<option value="saab">Discreate Mathematic</option>
<option value="fiat">Software Engineering</option>
<option value="audi">Software Quality Assurance</option>
<option value="audi">Digital and Logic Design</option>
</select>
Select Chapter
<select name="Sylabus">
<option value="volvo">1</option>
<option value="saab">2</option>
<option value="fiat">3</option>
<option value="audi">4</option>
<option value="audi">5</option>
</select>
     <h5>Long Questions</h5> 
<table border="1">
    <th>Description</th>
    <tr>
        <td><textarea rows="12" cols="150" placeholder="Write Long question here..." required></textarea></td>
    </tr> 
</table>
     <input type="submit" value="submit" />
</form>

<form>
         Select Department
    <select name="Sylabus">
<option value="volvo">Information Technology</option>
<option value="saab">Biosciences</option>
<option value="fiat">Natural Scineces</option>
<option value="audi">Physics</option>
<option value="audi">Art and Design</option>
<option value="audi">Telecomunication</option>
</select>
      Select Degree
<select name="Sylabus">
<option value="volvo">BSCS</option>
<option value="saab">BSSE</option>
<option value="fiat">BSIT</option>
<option value="audi">Msc.CS</option>
<option value="audi">Msc.GIS</option>
</select>
     <select name="Semester">
<option value="volvo">Semester 1</option>
<option value="saab">Semester 2</option>
<option value="volvo">Semester 3</option>
<option value="saab">Semester 4</option>
<option value="volvo">Semester 5</option>
<option value="saab">Semester 6</option>
<option value="volvo">Semester 7</option>
<option value="saab">Semester 8</option>
</select>
 Select Course
<select name="Course">
<option value="Cs">ITC</option>
<option value="saab">Discreate Mathematic</option>
<option value="fiat">Software Engineering</option>
<option value="audi">Software Quality Assurance</option>
<option value="audi">Digital and Logic Design</option>
</select>
Select Chapter
<select name="Sylabus">
<option value="volvo">1</option>
<option value="saab">2</option>
<option value="fiat">3</option>
<option value="audi">4</option>
<option value="audi">5</option>
</select>

<h5>True/False Questions</h5>
<table border="1">
    <th>Description</th>
    <th>True/False</th>
    <th>Ans</th>
    <tr>
        <td><textarea rows="12" cols="75" required placeholder="Write question statement here..."></textarea></td>
        <td><textarea rows="12" cols="13" required placeholder="option true / false here..."></textarea></td>
        <td><select name="Sylabus" required>
        <option value="A">True</option>
        <option value="B">False</option>
        </select></td>
    </tr> 
</table>
        <input type="submit" value="Submit" />
    </form>
  